{% set extension = config.theme.production ? '.min' : '' %}
<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ config.site.title|e|e }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'partials/metadata.html.twig' %}

        <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
        <link rel="canonical" href="{{ page.url(true, true)|e }}" />
    {% endblock head %}

    {% block stylesheets %}
        {% do assets.addCss('theme://dist/css/site' ~ extension ~ '.css', 98) %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
	    {% do assets.addJs('theme://js/main' ~ extension ~ '.js', 98) %}        
    {% endblock %}

    {% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
    {% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }} {{ config.theme.production ?: 'debug-screens' }} bg-platinum dark:bg-spacecadet-900">
    {% block header %}    
        {% include 'partials/header.html.twig' %}
    {% endblock %}

    {% block body %}
        <section id="body" class="mt-5">        
            <div class="prose prose-headings:text-spacecadet-600 prose-a:text-violet prose-strong:text-spacecadet-700 dark:prose-invert dark:prose-headings:text-violet dark:prose-a:text-violet dark:prose-strong:text-slate-600 dark:prose-code:text-spacecadet-400 container mx-auto max-w-4xl pr-4 pl-4 pt-5">
                {% block content %}{% endblock %}
            </div>
        </section>
    {% endblock %}

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

    {% block bottom %}
        {{ assets.js('bottom')|raw }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
    {% endblock %}
</body>
</html>