{% set extension = config.theme.production ? '.min' : '' %}
<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ config.site.title|e|e }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'partials/metadata.html.twig' %}

        <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
        <link rel="canonical" href="{{ page.url(true, true)|e }}" />
    {% endblock head %}

    {% block stylesheets %}
        {% do assets.addCss('theme://dist/css/site' ~ extension ~ '.css', 98) %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
	    {% do assets.addJs('theme://js/main' ~ extension ~ '.js', 98) %}        
    {% endblock %}

    {% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
    {% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }} {{ config.theme.production ?: 'debug-screens' }} bg-white dark:bg-spacecadet-900">

{% block header %}
    <div class="header">
        {% block header_navigation %}
            <nav class="bg-white border-spacecadet-200 px-2 sm:px-4 py-2.5 dark:bg-inherit">
                {% include 'partials/navigation.html.twig' %}
            </nav>
        {% endblock %}
    </div>
{% endblock %}

{% block body %}
    <section id="body" class="mt-5">        
        <div class="prose prose-headings:text-spacecadet-700 prose-a:text-violet prose-strong:text-spacecadet-700 dark:prose-invert dark:prose-headings:text-violet dark:prose-a:text-violet dark:prose-strong:text-slate-600 dark:prose-code:text-spacecadet-400 container mx-auto max-w-4xl pr-4 pl-4 pt-5">
            {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    <footer class="bg-white dark:bg-spacecadet-900 rounded-lg shadow m-4">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <div class="sm:flex sm:items-center sm:justify-between">
                <a href="{{ home_url|e }}" class="flex items-center">        
                    {% set logo = theme_var(mobile ? 'custom_logo_mobile' : 'custom_logo') %}
                    {% if logo %}
                        {% set logo_file = (logo|first).name %}
                        <img class="h-6 mr-3 sm:h-9" src="{{ url('theme://images/logo/' ~ logo_file)  }}" alt="{{ config.site.title|e }}" />
                    {% else %}
                        <img class="h-6 mr-3 sm:h-9" src="{{ url('theme://images/logo.png')|e  }}" alt="{{ config.site.title|e }}" />
                    {% endif %}
                    <span class="self-center text-xl whitespace-nowrap dark:text-white">{{ config.site.title|e }}</span>
                </a>
                <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-spacecadet-500 sm:mb-0 dark:text-spacecadet-400">                    
                    <li>
                        <a href="/imprint" class="hover:underline">Impressum</a>
                    </li>
                </ul>
            </div>
            <hr class="my-6 border-spacecadet-200 sm:mx-auto dark:border-spacecadet-700 lg:my-8" />
            <span class="block text-sm text-spacecadet-500 sm:text-center dark:text-spacecadet-400"><a href="http://getgrav.org">Grav</a>, by <a href="https://trilby.media">Trilby Media, LLC</a>.</span>
        </div>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
{% endblock %}
</body>
</html>