{% macro loop(page) %}
    {% set active_page_classes = "text-violet rounded dark:text-violet" %}
    {% set page_classes = "text-spacecadet-700 rounded dark:text-spacecadet-400 dark:hover:text-violet" %}

    {% for p in page.children.visible %}
        {% set classes = (p.active or p.activeChild) ? active_page_classes : page_classes %}
        {% if p.children.visible.count > 0 and p.parent.title() == "Pages" %}
            <li>
                <button id="{{ p.slug() }}-dropdown-link" data-dropdown-toggle="{{ p.slug() }}-dropdown" class="flex items-center justify-between w-full py-2 pl-3 pr-4 {{ classes|e }}">
                    {% if p.header.icon %}<i class="fa fa-{{ p.header.icon|e }}"></i>{% endif %}
                    {{ p.menu|e }} <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <!-- Dropdown menu -->
                <div id="{{ p.slug() }}-dropdown" class="z-10 hidden font-normal bg-platinum divide-y divide-spacecadet-100 rounded-lg shadow w-44 dark:bg-spacecadet-700 dark:divide-spacecadet-600">
                    <ul class="py-2 text-sm text-spacecadet-700 dark:text-spacecadet-400" aria-labelledby="dropdownLargeButton">
                        {{ _self.loop(p) }}
                    </ul>
                </div>
            </li>
        {% else %}
            <li>
            {% if p.parent.title == 'Pages' %}
                <a class="block py-2 pl-3 pr-4 {{ classes }}" href="{{ p.url|e }}">
                    {% if p.header.icon %}<i class="fa fa-{{ p.header.icon|e }}"></i>{% endif %}
                    {{ p.menu|e }}
                </a>
            {% else %}
                <a class="block mb-1 ml-4 px-4 py-2 {{ classes }}" href="{{ p.url|e }}">
                    {% if p.header.icon %}<i class="fa fa-{{ p.header.icon|e }}"></i>{% endif %}
                    {{ p.menu|e }}
                </a>
            {% endif %}
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<header>
    <nav class="px-2 bg-white border-spacecadet-200 dark:bg-spacecadet-900 dark:border-spacecadet-700">
        <div class="container flex flex-wrap items-center justify-between mx-auto max-w-4xl">
            <a href="{{ home_url|e }}" class="flex items-center">        
                {% set logo = theme_var(mobile ? 'custom_logo_mobile' : 'custom_logo') %}
                {% if logo %}
                    {% set logo_file = (logo|first).name %}
                    <img class="h-6 mr-3 sm:h-9" src="{{ url('theme://images/logo/' ~ logo_file)  }}" alt="{{ config.site.title|e }}" />
                {% else %}
                    <img class="h-6 mr-3 sm:h-9" src="{{ url('theme://images/logo.png')|e  }}" alt="{{ config.site.title|e }}" />
                {% endif %}
                <span class="self-center text-xl whitespace-nowrap dark:text-white">{{ config.site.title|e }}</span>
            </a>
            <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-spacecadet-500 rounded-lg md:hidden hover:bg-spacecadet-100 focus:outline-none focus:ring-2 focus:ring-spacecadet-200 dark:text-spacecadet-400 dark:hover:bg-spacecadet-700 dark:focus:ring-spacecadet-600" aria-controls="navbar-dropdown" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
            <ul class="flex flex-col p-4 mt-4 border border-spacecadet-100 rounded-lg bg-spacecadet-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-spacecadet-800 md:dark:bg-spacecadet-900 dark:border-spacecadet-700">
                {% if config.theme.dropdown.enabled %}
                    {{ _self.loop(pages) }}
                {% else %}
                    {% for page in pages.children.visible %}
                        {% set classes = (page.active or page.activeChild) ? active_page_classes : page_classes %}        
                        <li>
                            <a class="block py-2 pl-3 pr-4 mr-4 {{ classes|e }}" href="{{ page.url|e }}">
                                {% if page.header.icon %}<i class="fa fa-{{ page.header.icon|e }}"></i>{% endif %}
                                {{ page.menu|e }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
                {% for mitem in site.menu %}
                    <li>
                        <a class="block py-2 pl-3 pr-4 {{ classes|e }}" href="{{ mitem.url|e }}">
                            {% if mitem.icon %}<i class="fa fa-{{ mitem.icon|e }}"></i>{% endif %}
                            {{ mitem.text|e }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            </div>
        </div>
    </nav>
</header>